<p id="notice"><%= notice %></p>

<h3>Assignments</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Questions</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.description %></td>
        <td><%= link_to "Questions", classroom_assignment_questions_path(assignment.classroom,assignment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
